# Terraform cache y estado local
**/.terraform/

# Lock file: SÍ debe estar en git para versiones consistentes en CI
# **/.terraform.lock.hcl  <-- NO ignorar

# Estado remoto (nunca commitear estado local)
**/*.tfstate
**/*.tfstate.backup

# Variables con secretos
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credenciales AWS locales
.aws/
*.env

# Binario terraform (esta en Terraform/Terraform/)
terraform.exe

# Archivos de plan binario
*.tfplan

# OS / IDE
.DS_Store
Thumbs.db
